:root {
  --primary-color: #3f784c;
  --secondary-color: #3f84e5;
  --accent1-color: #b20d30;
  --accent2-color: #c17817;
  --heading-font: caveat;
  --text-font: fira code;
}

body {
  width: 100vw;
  background-color: #f0f0f0;
}

header {
  display: grid;
  grid-auto-flow: column;
  width: auto;
  height: 220px;
  justify-content: space-around;
  align-content: center;
  padding-bottom: 10px;
}

header nav {
  align-self: center;
  display: flex;
  justify-content: space-evenly;
}

header nav a {
  display: block;
  border: 1px solid #3f784c;
  padding: 10px;
  color: #3f784c;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font), monospace;
  color: var(--primary-color);
}

p {
  font-family: var(--text-font), monospace;
  color: var(--secondary-color);
}

.solcial-media-link {
  text-decoration: none;
}

.hero {
  position: relative;
  height: 400px;
}

.hero img {
  display: block;
  width: 100%;
  height: auto;
  position: absolute;
}

.hero div {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  position: relative;
  width: 100%;
  height: auto;
}

.hero div h1 {
  text-align: center;
  background-color: rgb(0 0 0);
  width: 100%;
  float: none;
  position: relative;
  border-radius: 5px;
  padding: 1px;
}

.hero div h4 {
  text-align: center;
  background-color: rgb(0 0 0 / 75%);
  color: var(--secondary-color);
  border-radius: 5px;
}

.hero div button {
  height: 40px;
  width: 50%;
  background-color: rgb(0 0 0 / 75%);
  color: var(--secondary-color);
  margin: auto;
}

.hero h1 {
  text-align: center;
  background-color: rgb(0 0 0);
  width: 100%;
  float: inline-start;
  position: absolute;
}

.hero article {
  display: block;
  width: 80%;
  position: absolute;
  background-color: rgb(0 0 0 / 75%);
  height: auto;
  top: 110px;
  left: 100px;
  border-radius: 5px;
}

.hero article img {
  height: 100px;
  width: 100px;
  float: right;
  position: relative;
}

.history {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1.5fr 0.5fr 1.5fr;
  justify-content: space-evenly;
  gap: 0.5rem;
  padding-top: 150px;
}

.history h2 {
  grid-column: span 3;
  justify-self: center;
}

.history p,
.history img {
  margin: 0;
}

.history img {
  justify-self: center;
  width: 200px;
  height: 200px;
}

.history > :nth-child(n + 2):nth-child(-n + 4) {
  background-color: rgb(0 0 0);
}

.adventure-pics {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 0.15fr 0.15fr 0.15fr 0.15fr 0.15fr;
  justify-content: center;
}

.adventure-pics h2 {
  grid-column: span 5;
  justify-self: center;
}

.adventure-pics figure {
  margin: 5px;
  padding: 5px;
}

.adventure-pics img {
  height: 200px;
  width: auto;
}

figcaption {
  text-align: center;
  color: var(--secondary-color);
  background-color: rgb(0 0 0 / 90%);
  border-radius: 5px;
}

footer {
  display: grid;
  grid-template-columns: 0.85fr 0.05fr 0.05fr 0.05fr 0.05fr;
  justify-content: center;
  width: 100%;
}

footer p {
  background-color: rgb(0 0 0 / 90%);
  margin-right: 10px;
  border-radius: 5px;
}

footer a {
  display: flex;
  align-items: center;
}

footer a img {
  width: 50px;
  height: 50px;
}
/* Contact Us page */

.company-info-content {
  display: grid;
  grid-auto-flow: column;
}

.company-info h1 {
  justify-self: center;
}

.phone-numbers {
  display: grid;
  grid-auto-flow: column;
}

.phone-numbers p {
  align-self: center;
  margin: 0;
}

.company-info-content li {
  list-style-type: none;
  font-family: var(--text-font);
  color: var(--secondary-color);
  background-color: rgb(0 0 0 / 90%);
  border-radius: 5px;
}

.our-employees h1 {
  justify-self: center;
}

.employees {
  display: grid;
  grid-auto-flow: column;
}

.employees figure {
  display: grid;
  grid-auto-flow: row;
}

.employees img {
  justify-self: center;
}

.message-us h1 {
  justify-self: center;
}

.message-us-form {
  display: grid;
  grid-auto-flow: column;
}

.message-us-form label {
  font-family: var(--text-font);
  color: var(--secondary-color);
  background-color: rgb(0 0 0 / 90%);
  border-radius: 5px;
}

.inputs {
  display: grid;
  grid-auto-flow: row;
  justify-content: space-around;
}

.message-us-form textarea {
  width: 90%;
  height: 90%;
}

.check-and-submit {
  display: grid;
  grid-auto-flow: row;
}

.check-and-submit button {
  font-family: var(--text-font);
  color: var(--secondary-color);
  background-color: rgb(0 0 0 / 90%);
  width: fit-content;
  height: fit-content;
  justify-self: start;
  align-self: center;
  border-radius: 5px;
}

.home-page {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  width: 100%;
  position: static;
  margin-top: 18rem;
}

.our-content {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 50rem;
}

.our-content figure {
  display: grid;
  gap: 5px;
  grid-auto-flow: row;
  width: auto;
  justify-content: center;
}

.our-content img {
  width: 200px;
  height: 200px;
}

.our-content figure i {
  display: block;
  width: 75px;
  height: 75px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.icon-river {
  background-image: url(../images/noun-river.svg);
}

.icon-camping {
  background-image: url(../images/noun-camping.svg);
}

.icon-rafting {
  background-image: url(../images/noun-rafting.svg);
}

.inspiration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: relative;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
  background-color: var(--accent2-color);
  height: 100%;
  padding: 30px;
}

.inspiration .image {
  position: relative;
  z-index: 1;
  border-radius: 5px;
  left: 50px;
  height: 100%;
}

.inspiration .image img {
  width: 100%;
}

.inspiration .message {
  display: grid;
  grid-auto-flow: row;
  justify-content: center;
  position: absolute;
  top: 35%;
  left: 45%;
  transform: translate(-10%, -20%);
  background-color: rgb(0 0 0 / 90%);
  padding: 1rem;
  z-index: 2;
  border-radius: 5px;
  height: 50%;
}

.message h2 {
  text-align: center;
}

.message p {
  text-align: center;
}

.message button {
  height: 40px;
    width: 10%;
    background-color: rgb(0 0 0 / 90%);
    color: var(--secondary-color);
    margin: auto;
}