:root {
    --primary-color: #3F784C;
    --secondary-color: #3F84E5;
    --accent1-color: #B20D30;
    --accent2-color: #C17817;
    --heading-font: caveat;
	--text-font: fira code;

}

body {
    width: 1920px;
    background-color: #1a181b;
}

header {
    display: grid;
    grid-auto-flow: column;
    width: auto;
    height: 220px;
    justify-content: space-around;
    align-content: center;
    padding-bottom: 10px;
}

header nav {
    align-self: center;
    display: flex;
    justify-content: space-evenly;
}

header nav a {
    display: block;
    border: 1px solid #3F784C;
    padding: 10px;
    color: #3F784C;
}

h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font), monospace;
color: var(--primary-color);
}

p {
    font-family: var(--text-font), monospace;
    color: var(--secondary-color);
}

.solcial-media-link {
    text-decoration: none;
}

.hero {
    position: relative;
    height: 400px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
}

.hero h1 {
    text-align: center;
    background-color: rgb(0 0 0 / 75%);
    background-size: cover;
    width: 100%;
    float: inline-start;
    position: absolute;
}

.hero article {
    display: block;
    width: 80%;
    position: absolute;
    background-color: rgb(0 0 0 / 75%);
    height: auto;
    top: 110px;
    left: 100px
}

.hero article img {
    height: 100px;
    width: 100px;
    float: right;
    position: relative;
}

.history {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1.5fr .5fr 1.5fr;
    justify-content: space-evenly;
    gap: .5rem;
    padding-top: 150px;
}

.history h2 {
    grid-column: span 3;
    justify-self: center;
  }
  
  .history p,
  .history img {
    margin: 0;
  }

.history img {
    justify-self: center;
    width: 200px;
    height: 200px;
}

.adventure-pics {
    display: grid;
    width: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: .2fr .2fr .2fr .2fr .2fr;
    justify-content: center;
}

.adventure-pics h2 {
    grid-column: span 5;
    justify-self: center;
}

.adventure-pics img {
    height: 200px;
    width: auto;
}

footer a img {
    width: 50px;
    height: 50px;
}